<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="main.css">

  <title>Calculator</title>
</head>

<body>

  <div id="app">
    <div class="monthly-cost">
      <div class="monthly-cost-label">
        <!-- monthlyCostLabel -->
        Månadskostnad
      </div>
      <div class="monthly-cost-value">
        <!-- monthlyCost + monthlyCostSuffix -->
        2 173 kr
      </div>
    </div>
    <div class="amount">
      <div class="amount-label">
        <!-- loanAmountLabel -->
        Lånebelopp
      </div>
      <div>
        <button class="calculator-button">
          <span>-</span>
        </button>

        <input class="amount-value" value="250000">

        <button class="calculator-button">
          <span>+</span>
        </button>
      </div>
    </div>

    <div>
      <div>
        <!-- repaymentLabel -->
        Återbetalningstid
      </div>

      <div>
        <button class="calculator-button">
          <span>-</span>
        </button>

        <input class="repayment-value" value="14">

        <button class="calculator-button">
          <span>+</span>
        </button>
      </div>
    </div>

    <div class="">
      <button class="cta-button">
        <!-- ctaLabel -->
        Ansök nu
      </button>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="main.js"></script>

</body>

</html>